.snake-board {
    display: inline-block;
    border: 1px solid #888;
    margin: 10px;
    position: relative;
}

.snake-board-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #222;
    font-family: monospace;
}
.snake-board-message table {
    height: 100%;
    width: 100%;
}
.snake-board-message.hidden {
    display: none;
}

.snake-board-row {
    display: block;
    margin: 0px;
    padding: 0px;
}

.snake-board-tile {
    display: inline-block;
    /*border: 1px solid #888;*/
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0px;
    color: #FFF;
}

.snake-board-tile.contains-snake {
    background-color: #555;
    color: #555;
}

.snake-board-tile.contains-food {
    background-color: #AAA;
    color: #AAA;
}
